{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    
</head>

<body>
    <!-- {% for obj in movie_data.items %}
        {{ obj.original_title }} - {{ obj.overview }} - {{ obj.release_date }} - {{ obj.popularity }}
        {{obj}}
    {% endfor %} -->

    <!-- <script>
        $(document).ready(function () {
            $.get("/polls/", function (response) {
                // alert(response);
                console.log(response);
            });

            // $("#btn").click(function(){
            //     alert("You clicked!")
            // });
            // console.log("hello");

        });
    </script> -->

    <!-- <script type="text/javascript">
        $.get("/polls/", function(data) {
            var xval = data.xval;
            var yval = data.yval;
            console.log(data)    
        });
    </script> -->
    <div class="container" style="display: flex; flex-flow: wrap;"></div>

</body>

<script src="{% static 'js/insert.js' %}"></script>
<!-- <script>
    $(document).ready(function () {
        $.post("/polls/", function (response) {
            // alert(response);
            console.log(response.movie_data);
            // $("#img0").attr('src', 'https://image.tmdb.org/t/p/w500/' + (response.results[4].poster_path)).height(250).width(250)
            // $("#original_title0").append(response.results[4].original_title)
            // $("#popularity0").append(response.results[4].popularity)
            // $("#overview0").append(response.results[4].overview)

            //Appending
            $.each(response.movie_data, function (index, value) {
                // console.log(value.original_title);
                // console.log(value.popularity);
                // console.log(value.overview);

                // var img=$(this).attr('src', 'https://image.tmdb.org/t/p/w500/' + (response.results[index].poster_path));
                // console.log(img[0])
                console.log(value)
                $(".container").append(`<div class="card" style="width: 18rem;">
            <img class="card-img-top" id="img" src="https://image.tmdb.org/t/p/w500//${value.poster_path}" alt="Card image cap"></img>
            <div class="card-body">
                <h5 class="card-title" id="original_title">${value.title}</h5>
                <h6 class="card-title" id="popularity">popularity : ${value.popularity} </h6>
                <p class="card-text" id="overview">${value.overview}</p>
            </div>
        </div>`)

            });
        });

    });
</script> -->


</html>